%body{"ng-app" => "myApp"}
  .container
    .header
      %ul.nav.nav-pills.pull-left
        %li.active
          %a{"ng-href" => "#/home"} Home
        %li
          %a{"ng-href" => "#/about"} Weather
        %li
          %a{"ng-href" => "#/map"} Map

        %li
          %a{"ng-href" => "/#/post"} Main Blog


      %ul.nav.nav-pills.pull-right
        %li
          %a{"data-method" => "delete", :href => "/users/sign_out", :target => "_self"} Sign Out
    %div{"ng-view" => ""}

