!!
%html
  %head
    %title
      -if yield(:title).blank?
        ="Justin's Blog"
      -else
        =yield(:title)
    <meta http-equiv="X-UA-Compatible" content="IE=edge"
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    = stylesheet_link_tag "application"
    = javascript_include_tag "application", "ng-application"
    = csrf_meta_tag
  %body
    .container-fluid{:style => 'margin-top:60px;'}
      .row-fluid
      %section
        .row-fluid
          .span12
        %box
          .row-fluid
            .span12


          = yield

